*{
    text-align: center;
    font-size: 1.4rem;
    vertical-align:text-top;
    color: white;
}
.box1{
    position: sticky;
    margin: 0.5vh;
    left: 0.5vh;
    border-radius: 10px 10px 10px 10px;
    background-color: grey;
    height: 20vh;
    width: 99.2%;
}
.box2{
    height: 61.5vh;
    width: 25%;
    position: sticky;
    background-color: coral;
    float: left;
    border-radius: 10px 10px 10px 10px;
}
.box3{
    
    height: 22vh;
    margin-left:26%;
    position: sticky;
    width:73.2% ;
    background-color: cornflowerblue;
    border-radius: 10px 10px 10px 10px;
}
.box4{
    height: 38vh;
    margin-left:26%;
    margin-top : 1vh;
    position: sticky;
    background-color: cyan;
    width:73.2% ;
    border-radius: 10px 10px 10px 10px;
}
    
.box5{
    
    width: 99.2%;
    height: 13vh;
    margin-top:1vh ;
    background-color: darkkhaki;
    position: sticky;
    border-radius: 10px 10px 10px 10px;
}